# Bo qua cac file va thu muc mac dinh cua Java
*.class             
*.jar               
/bin/
/out/
/target/
.idea/              
.vscode/          
.classpath
.project

# Quy tac loai tru file cau hinh database rieng
/src/util/DBConnectionLocal.java
/src/util/DBConnection.java
/src/util/JDBCUtil.java